:root{
	--gry:#292929;
	--wht:#ffffff;
	--blk:#000000;
	--fa_a:#3B5998; 
	--fa_b:#FFFFFF;
	--tw_a:#66757F;
	--tw_b:#00ACEE;
	--tw_c:#36D8FF;
	--tw_d:#F5F8FA;
	--in_a:#405DE6;
	--in_b:#5851DB;
	--in_c:#833AB4;
	--in_d:#C13584;
	--in_e:#E1306C;
	--in_f:#FD1D1D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gry);
}
.social-icons .icon{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    background: var(--wht);
    border-radius: 50%;
    box-shadow: 3px 3px 10px 0 var(--blk);
    position: relative;
    transition: 0.5s ease;
    overflow: hidden;
}
.social-icons .icon *{
    font-size: 30px;
    color: var(--blk);
    position: relative;
    transition: 0.5s ease;
}
.social-icons .icon::before{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    transition: 0.5s ease;
}
.social-icons .icon.facebook::before{
    background: linear-gradient(120deg, var(--fa_a), var(--fa_b));
}
.social-icons .icon.twitter::before{
    background: linear-gradient(120deg, var(--tw_a), var(--tw_b), var(--tw_c), var(--tw_d));
}
.social-icons .icon.instagram::before{
    background: linear-gradient(120deg, var(--in_a), var(--in_b), var(--in_c), var(--in_d), var(--in_e), var(--in_f));
}

.social-icons .icon:hover{
    transform: translateY(-15px);
}
.social-icons icon:hover *{
    color: var(--wht);
}
.social-icons .icon:hover::before{
    top: 0;
}